<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <article class="panel panel-default">
        <header class="panel-heading clearfix">
          <h4 class="pull-left">Create a Draft PO on <%= Time.now.strftime("%m-%d-%Y") %></h4>
          <%= link_to "« Cancel", "/proto/index", class:"btn btn-link pull-right" %>
        </header>
        <section class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="vendor" class="control-label">Buyer</label>
                <select class="form-control">
                  <option>Brian Cleveland</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="vendor" class="control-label">Assistant Buyer</label>
                <select class="form-control">
                  <option>Brian Cleveland</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="vendor" class="control-label">Vendor</label>
              <select class="form-control" id="vendor" name="vendor" required>
                <option>Select a Vendor</option>
                <option>BB Dakota</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="start_ship" class="control-label">Start Ship</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  <input id="start_ship" name="start_ship" type="datetime" class="form-control" placeholder="Select a Date" data-behaviour='datepicker' required>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="end_ship" class="control-label">Cancel Ship</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  <input id="end_ship" name="end_ship" type="datetime" class="form-control" placeholder="Select a Date" data-behaviour='datepicker' required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="anticipated_ship" class="control-label">Anticipated Ship Date</label>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  <input id="anticipated_ship" name="anticipated_ship" type="datetime" class="form-control" placeholder="Optional" data-behaviour='datepicker'>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="notes" class="control-label">PO Notes</label>
              <textarea class="form-control" placeholder="Optional"></textarea>
            </div>


            <button type="submit" class="btn btn-primary" formaction="create_or_add">Create & Continue</button>
          </form>
        </section>
      </article>
    </div>
  </div>
</div>
